# Association Rule Learning
Apriori Algorithm

## Importing the libraries

In [1]:
!pip install apyori

Requirement already satisfied: apyori in /home/its-k/anaconda3/envs/Learning/lib/python3.7/site-packages (1.1.2)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [3]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.isnull().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

In [5]:
transactions = []
for i in range(0, len(dataset)):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [6]:
print(transactions[:5])
len(transactions)

[['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil'], ['burgers', 'meatballs', 'eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['chutney', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['turkey', 'avocado', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']]

7501

## Training Apriori model on the dataset

In [7]:
from apyori import apriori
support = 3*7/7501
rules = apriori(transactions=transactions, min_support=support, min_confidence=0.2, min_lift=3, min_length=2, max_length=2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [8]:
results = list(rules)

In [9]:
[print(result) for result in results[:3]]

RelationRecord(items=frozenset({'extra dark chocolate', 'chicken'}), support=0.0027996267164378083, ordered_statistics=[OrderedStatistic(items_base=frozenset({'extra dark chocolate'}), items_add=frozenset({'chicken'}), confidence=0.23333333333333334, lift=3.8894074074074076)])
RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])
RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])

[None, None, None]

### Putting the results well organised into a Pandas Dataframe

In [10]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]    
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))

In [11]:
resultsinDataFrame = pd.DataFrame(inspect(results), columns=['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

### Displaying the results non sorted

In [12]:
resultsinDataFrame

         Left Hand Side Right Hand Side   Support  Confidence      Lift
0  extra dark chocolate         chicken  0.002800    0.233333  3.889407
1           light cream         chicken  0.004533    0.290598  4.843951
2  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
3                 pasta        escalope  0.005866    0.372881  4.700812
4         fromage blanc           honey  0.003333    0.245098  5.164271
5         herb & pepper     ground beef  0.015998    0.323450  3.291994
6          tomato sauce     ground beef  0.005333    0.377358  3.840659
7           light cream       olive oil  0.003200    0.205128  3.114710
8     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
9                 pasta          shrimp  0.005066    0.322034  4.506672

### Displaying the results sorted by descending lifts

In [13]:
resultsinDataFrame.nlargest(n=10, columns='Lift')

         Left Hand Side Right Hand Side   Support  Confidence      Lift
4         fromage blanc           honey  0.003333    0.245098  5.164271
1           light cream         chicken  0.004533    0.290598  4.843951
3                 pasta        escalope  0.005866    0.372881  4.700812
9                 pasta          shrimp  0.005066    0.322034  4.506672
8     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
0  extra dark chocolate         chicken  0.002800    0.233333  3.889407
6          tomato sauce     ground beef  0.005333    0.377358  3.840659
2  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
5         herb & pepper     ground beef  0.015998    0.323450  3.291994
7           light cream       olive oil  0.003200    0.205128  3.114710

### Displaying the results sorted by descending confidence

In [14]:
resultsinDataFrame.nlargest(n=10, columns='Confidence')

         Left Hand Side Right Hand Side   Support  Confidence      Lift
6          tomato sauce     ground beef  0.005333    0.377358  3.840659
3                 pasta        escalope  0.005866    0.372881  4.700812
5         herb & pepper     ground beef  0.015998    0.323450  3.291994
9                 pasta          shrimp  0.005066    0.322034  4.506672
2  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
1           light cream         chicken  0.004533    0.290598  4.843951
8     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
4         fromage blanc           honey  0.003333    0.245098  5.164271
0  extra dark chocolate         chicken  0.002800    0.233333  3.889407
7           light cream       olive oil  0.003200    0.205128  3.114710

### Displaying the results sorted by descending support

In [15]:
resultsinDataFrame.nlargest(n=10, columns='Support')

         Left Hand Side Right Hand Side   Support  Confidence      Lift
5         herb & pepper     ground beef  0.015998    0.323450  3.291994
8     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
3                 pasta        escalope  0.005866    0.372881  4.700812
2  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
6          tomato sauce     ground beef  0.005333    0.377358  3.840659
9                 pasta          shrimp  0.005066    0.322034  4.506672
1           light cream         chicken  0.004533    0.290598  4.843951
4         fromage blanc           honey  0.003333    0.245098  5.164271
7           light cream       olive oil  0.003200    0.205128  3.114710
0  extra dark chocolate         chicken  0.002800    0.233333  3.889407